# ============================================================
# NotiBot — Variables de entorno
# ============================================================

# Base de datos
POSTGRES_DB=notibot
POSTGRES_USER=notibot
POSTGRES_PASSWORD=notibot_dev_2026
DATABASE_URL=postgresql+asyncpg://notibot:notibot_dev_2026@192.168.3.13:5432/notibot

# Backend
SECRET_KEY=8420
CORS_ORIGINS=http://localhost,http://localhost:4200,http://127.0.0.1

# Frontend
API_URL=http://localhost:8000
FRONTEND_PORT=80
